@page
@model P_zpp_2.Areas.Identity.Pages.Koordynator.LeavesAdminModel

@*<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leaves[0].CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaves[0].CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaves[0].Leavesname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaves[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaves[0].Status_zaakceptopwane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaves[0].Status_odrzucone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Leaves)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leavesname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status_zaakceptopwane)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status_odrzucone)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@


<form asp-page="./PracownicyAdmin" method="get">
    <div class="form-actions no-color">
        <p class="napis-label">
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn login_btn" /> |
            <a class="napis-label" asp-page="./PracownicyAdmin">Back to full List</a>
        </p>
    </div>
</form>


<table class="table">


    <thead>
        <tr>
            <th>
                <a class="napis-label" asp-page="./PracownicyAdmin" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Leaves[0].Idusera.LastName)
                </a>

            </th>
            <th class="napis-label">
                @Html.DisplayNameFor(model => model.Leaves[0].Idusera.FirstName)
            </th>
            <th>
                <a class="napis-label" asp-page="./PracownicyAdmin" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Leaves[0].CheckIn)
                </a>

            </th>
            <th class="napis-label">
                @Html.DisplayNameFor(model => model.Leaves[0].CheckOut)
            </th>
            <th class="napis-label">
                @Html.DisplayNameFor(model => model.Leaves[0].Status)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Leaves)
        {

        <tr class="card-header card-pracownicy ">

            <td class="napis-label">
                @Html.DisplayFor(modelItem => item.Idusera.LastName)
            </td>
            <td class="napis-label">
                @Html.DisplayFor(modelItem => item.Idusera.FirstName)
            </td>
            <td class="napis-label">
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td class="napis-label">
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td class="napis-label">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>


            @*<th>Appointment Status</th>
            @if (Model.Leaves[0].Status_zaakceptopwane == false)
            {
                <td>
                    @using (Html.BeginForm("ConfirmAppointment", "Appointment", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Zaakceptuj" class="btn btn-default" />
                                <input type="hidden" name="Status_zaakceptowane" value="@Model.Leaves[0].Status_zaakceptopwane" />
                            </div>
                        </div>
                    }
                </td>
            }
            else if (Model.Leaves[0].Status_zaakceptopwane == true)
            {
                <td>Zaakceptowane</td>
            }*@



            <input type="submit" value="@item.Status_zaakceptopwane" class="login_btn btn napis-label" />
            @*<a class="login_btn btn napis-label" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
            <a class="login_btn btn napis-label" asp-page="./Details" asp-route-id="@item.Id">Details</a>

            @*<a class="login_btn btn napis-label" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>


        </tr>

        }
    </tbody>

</table>



@{
    var prevDisabled = !Model.Leaves.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Leaves.HasNextPage ? "disabled" : "";
}

<a asp-page="./PracownicyAdmin"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Leaves.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn login_btn @prevDisabled">
    Previous
</a>
<a asp-page="./PracownicyAdmin"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Leaves.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn login_btn @nextDisabled">
    Next
</a>

    </div>
</div>
