@model Tuple<P_zpp_2.ViewModels.ScheduleInstructionViewModel, string>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h1>Create</h1>

<h4>ScheduleInstructions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Item1.scheduleInstructions.Name" class="control-label"></label>
                <input asp-for="@Model.Item1.scheduleInstructions.Name" class="form-control" />
                <span asp-validation-for="@Model.Item1.scheduleInstructions.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.startOne" class="control-label">Data rozpoczęcia 1 zmiany</label>
                <input type="time" asp-for="@Model.Item1.startOne" class="form-control" />
                <span asp-validation-for="@Model.Item1.startOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.endOne" class="control-label">Data zakończenia 1 zmiany</label>
                <input type="time" asp-for="@Model.Item1.endOne" class="form-control" />
                <span asp-validation-for="@Model.Item1.endOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.startTwo" class="control-label">Data rozpoczęcia 2 zmiany</label>
                <input type="time" asp-for="@Model.Item1.startTwo" class="form-control" />
                <span asp-validation-for="@Model.Item1.startTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.endTwo" class="control-label">Data zakończenia 2 zmiany</label>
                <input type="time" asp-for="@Model.Item1.endTwo" class="form-control" />
                <span asp-validation-for="@Model.Item1.endTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.startThree" class="control-label">Data rozpoczęcia 3 zmiany</label>
                <input type="time" asp-for="@Model.Item1.startThree" class="form-control" />
                <span asp-validation-for="@Model.Item1.startThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.endThree" class="control-label">Data zakończenia 3 zmiany</label>
                <input type="time" asp-for="@Model.Item1.endThree" class="form-control" />
                <span asp-validation-for="@Model.Item1.endThree" class="text-danger"></span>
            </div>
            @if (@ViewBag.algorithmName == "RetailAlgorithm")
            {
                <div class="form-group">
                    <label asp-for="@Model.Item1.startFour" class="control-label">Data zakończenia 3 zmiany</label>
                    <input type="time" asp-for="@Model.Item1.startFour" class="form-control" />
                    <span asp-validation-for="@Model.Item1.startFour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Item1.endFour" class="control-label">Data zakończenia 3 zmiany</label>
                    <input type="time" asp-for="@Model.Item1.endFour" class="form-control" />
                    <span asp-validation-for="@Model.Item1.endFour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Item1.startFive" class="control-label">Data zakończenia 3 zmiany</label>
                    <input type="time" asp-for="@Model.Item1.startFive" class="form-control" />
                    <span asp-validation-for="@Model.Item1.startFive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Item1.endFive" class="control-label">Data zakończenia 3 zmiany</label>
                    <input type="time" asp-for="@Model.Item1.endFive" class="form-control" />
                    <span asp-validation-for="@Model.Item1.endFive" class="text-danger"></span>
                </div>
            }



            @*<div class="form-group">
                    <label asp-for="ListOfShistsInJSON" class="control-label"></label>
                    <input asp-for="ListOfShistsInJSON" class="form-control" />
                    <span asp-validation-for="ListOfShistsInJSON" class="text-danger"></span>
                </div>*@
            <div class="form-group" hidden>
                <label asp-for="@Model.Item1.CoordinatorId" class="control-label"></label>
                <select asp-for="@Model.Item1.CoordinatorId" class="form-control" asp-items="ViewBag.CoordinatorId" h></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

