@{
    @model Tuple<List< P_zpp_2.Models.MyCustomLittleDatabase.ScheduleInstructions >, string>
}
@*@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-algorithmName="@Model.Item2">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ListOfShistsInJSON)
            </th>*@
        <th>
            Coordinator
        </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ListOfShistsInJSON)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Coordinator.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
