@page
@model P_zpp_2.Areas.Identity.Pages.Admin.Pracownicy.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div class="cardlogged">
    <div class="card-header">
        <h2>Delete</h2>



        <h3>Czy napewno chcesz usunąć</h3>
        <div>
            <h4>Pracownik</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pracownik.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pracownik.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pracownik.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pracownik.FirstName)
                </dd>
                <dt class="col-sm-2 napis-label">
                    @Html.DisplayNameFor(model => model.Pracownik.Email)
                </dt>
                <dd class="col-sm-10 napis-label">
                    @Html.DisplayFor(model => model.Pracownik.Email)
                </dd>
                <dt class="col-sm-2 napis-label">
                    @Html.DisplayNameFor(model => model.Dzialy.DepartureName)
                </dt>
                <dd class="col-sm-10 napis-label">
                    @Html.DisplayFor(model => model.Dzialy.CompanyID.CompanyName)
                    @Html.Raw("    ")
                    @Html.DisplayFor(model => model.Dzialy.DepartureName)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Pracownik.Id" />
                <input type="submit" value="Delete" class=" btn   login_btn napis-label" /> 
                <a class=" btn float-md-right  login_btn napis-label" asp-page="./PracownicyAdmin">Back to List</a>
            </form>
        </div>
