@page
@model P_zpp_2.Areas.Identity.Pages.Admin.GrafikAdminModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<a class="login_btn btn napis-label" data-toggle="modal" data-target="#AddLeavesModal">
    Dodaj nowy grafik
</a>
<div id="calendar" style="
        background-color: white;
        padding: 5px;
        border-radius: 7px;
    "></div>

<link rel="stylesheet" href="~/css/FullCalendar.css" />
<script src="~/js/FullCalendar.js"></script>

<style>
    a:link {
        color: black;
    }

    a:visited {
        color: black;
    }

    a:hover {
        color: #333;
        opacity: 0.7;
        text-decoration: none;
    }

    a:active {
        color: black;
    }

    .btn-delete {
        position: absolute;
        border-radius: 50%;
        top: 0px;
        right: -10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 0;
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        -webkit-transition: background .2s ease-in-out;
        transition: background .2s ease-in-out;
        border: 0px;
        font-size: 11px;
        color: black;
        font-weight: 700;
    }
</style>



<!-- Modal -->
<div class="modal fade" id="AddLeavesModal" tabindex="-1" role="dialog" aria-labelledby="AddLeadesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddLeavesModalLabel">Dodaj grafik</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <a class="napis-label">
                                        @Html.DisplayNameFor(model => model.Url)
                                    </a>

                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*foreach (var item in Model.scheduleInstructions)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-secondary" asp-action="GenerateSchedule" asp-controller="Departures" asp-route-Id="@item.Id">Generuj</button>
                                    </td>
                                </tr>
                            }*@
                        </tbody>

                    </table>


                    <div class="row">
                        <div class="col-12 col-sm-6">
                            @*<div class="form-group">
                                    <label asp-for="departure" class="control-label"></label>
                                    @Html.DropDownListFor(model => model.departure, Model.departure, new { @class = "form-control dropdown" })


                                </div>*@
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                @*<label asp-for="Idusera" class="control-label"></label>*@
                                @*<select asp-for="Idusera" asp-items="Model.Idusera" class="form-control dropdown">*@
                                @*</select>*@
                            </div>
                        </div>
                    </div>






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    @*<input type="submit" value="Wygeneruj" class="login_btn btn napis-label" />*@
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    var alternativeArr = [];
    let altelems = JSON.parse('@Html.Raw((Model._callMeJson))');

    for (let item of altelems) {
        let eObj = {
            id: item.Id,
            title: item.Title,
            start: item.StartDate
        };
        alternativeArr.push(eObj);
    }

    let calendarEl = document.getElementById('calendar')

    let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: alternativeArr,

    });
    calendar.render();
</script>