@model P_zpp_2.Models.MyCustomLittleDatabase.Departures

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Departures</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shifts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shifts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeprtureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
