@model IEnumerable<P_zpp_2.Models.MyCustomLittleDatabase.Departures>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-pracownicy  ">
    <div class="card-header">
        <h2>Działy</h2>

        <p>
            <a class="login_btn btn napis-label" asp-action="Create">Dodaj nowy dział</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th class="napis-label">
                        @Html.DisplayNameFor(model => model.CompanyID.CompanyName)
                    </th>
                    <th class="napis-label" >
                        @Html.DisplayNameFor(model => model.DepartureName)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="card-header card-pracownicy ">
                        <td class="napis-label">
                            @Html.DisplayFor(modelItem => item.CompanyID.CompanyName)
                        </td>
                        <td class="napis-label">
                            @Html.DisplayFor(modelItem => item.DepartureName)
                        </td>
                        <td>
                            <a class="login_btn btn napis-label" asp-action="Edit" asp-route-id="@item.DeprtureId">Edytuj</a> |
                            <a class="login_btn btn napis-label" asp-action="Details" asp-route-id="@item.DeprtureId">Szczegóły</a> |
                            <a class="login_btn btn napis-label" asp-action="Delete" asp-route-id="@item.DeprtureId">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
</div>