@model P_zpp_2.ViewModels.CompanyDepartuersListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shifts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureName)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.departures) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shifts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeprtureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeprtureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeprtureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
