@model IEnumerable<P_zpp_2.Models.MyCustomLittleDatabase.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-pracownicy  ">
    <div class="card-header">
        <h2>Firmy</h2>

        <p>
            <a class="login_btn btn napis-label"  asp-action="Create">Create New</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th class="napis-label">
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="card-header card-pracownicy ">
                        <td class="napis-label">
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            <a class="login_btn btn napis-label"  asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a> |
                            <a class="login_btn btn napis-label"  asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                            <a  class="login_btn btn napis-label" asp-action="Delete" asp-route-id="@item.CompanyId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
